{% extends "base.html" %}

{% block main %}

<div class="row-fluid">   
    <div class="span6 offset1">
        <h2>About </h2>

        <p>In response to the recent controversy over the cultural meanings of the depiction of blackness in the film <i>Little Pink and the Motley Crew</i>, we launch this site to enable the black diaspora and other people of color to express resistance against white refusals to acknowledge that its representation of racial diversity can be regarded as stereotypical and offensive. Since there are very few public arenas for  challenging white hegemony, we would like to offer an opportunity for you to have your say in the matter. The strategy is to gather images of people countering the claim that stereotypes can be detached from a history of racist representations.</p>

        <h2>Who's behind the site?</h2>

        <p>Oivvio Polite/<a href="http://liberationtech.net">Liberationtech</a> and Staffan Carlsson.</p>

    </div>
</div>
{% endblock %}
