{% extends "base.html" %}

{% block main %}
<h2>About </h2>

<p>In response to the recent controversy over the cultural meanings of the depiction of blackness in the film Little Pink and the Motley Crew, we launch this site to enable the black diaspora and other people of color to express resistance against white refusals to acknowledge that its representation of racial diversity can be regarded as stereotypical and offensive. Since there are very few public arenas for this, we would like to offer an opportunity for you to have your say in the matter. The strategy is to gather images of people countering the claim that stereotypes can be detached from a history of racist representations.</p>

<p>On Saturday the 22nd of September, in connection to the movie theater Zita’s screening of the film on Birger Jarlsgatan 37, Stockholm, you can join an action against critical against black stereotypes. A photographer will be on site, near the movie theater to take a photo of your statement. There are three alternative statements to choose from. Two of them are for individual statements:</p>

<p>”I am not a Pickanninny, I am a Person”</p>

<p>and…</p>

<p>”You do not have the universal mandate to represent me”</p>

<p>The third alternative is for groups consisting of 2-5 people (or as many as you want to squeeze into the image):</p>

<p>”We are not Your Motley Crew”</p>


<p>This particular site is meant to function both as an extension of this action, and as a semi-independent site for loading up a photo of yourself or a group. Here, you can choose one of the three alternatives in pdf format (under xxx button?).  </p>


<p>Your image(s) will be transported and added to a special group on flickr.com, called “We are not your Motley Crew:  Photographic action against racist stereotypes”</p>

<h2>Who's behind the site?</h2>

<p>Oivvio Polite/Liberationtech</p>

{% endblock %}
