{% extends "base.html" %}

{% block main %}

<div class="row-fluid">   
    <div class="span6 offset1">
        <h2>About </h2>

        <p>In response to the recent controversy over the cultural meanings of the depiction of blackness in the film <i>Little Pink and the Motley Crew</i>, we launch this site to enable the black diaspora and other people of color to express resistance against white refusals to acknowledge that its representation of racial diversity can be regarded as stereotypical and offensive. Since there are very few public arenas for  challenging white hegemony, we would like to offer an opportunity for you to have your say in the matter. The strategy is to gather images of people countering the claim that stereotypes can be detached from a history of racist representations.</p>

        <!--<p>On Saturday the 22nd of September, in connection to the movie theater Zita’s screening of the film on Birger Jarlsgatan 37, Stockholm, you can join an action critical against black stereotypes. A photographer will be on site, near the movie theater to take a photo of your statement. There are three readymade statements to choose from. Two of them are for individual statements:</p>-->

        <!--<p><b>”I am not a Pickanninny, I am a Person”</b></p>-->

        <!--<p>and…</p>-->

        <!--<p><b>”You do not have the universal mandate to represent me”</b></p>-->

        <!--<p>The third alternative is for groups consisting of 2-5 people (or as many as you want to squeeze into the image):</p>-->

        <!--<p><b>”We are not Your Motley Crew”</b></p>-->

        <!--<p>Of course your also welcome to bring your own sign. We'll love to see what you come up with! </p>-->

        <!--<p>This particular site is meant to function both as an extension of this action, and as a semi-independent site for loading up a photo of yourself or a group. </p>-->
        
        <!--<p>Your image(s) will added to  Flickr group “We are not your Motley Crew:  Photographic action against racist stereotypes”</p>-->

        <h2>Who's behind the site?</h2>

        <p>Oivvio Polite/<a href="http://liberationtech.net">Liberationtech</a> and Staffan Carlsson.</p>

    </div>
</div>
{% endblock %}
