<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>WE ARE NOT YOUR MOTLEY CREW - The debate</title>
<meta name="description" content="">
<meta name="author" content="">



<!--<meta property="fb:app_id" content="283173038454857"/>-->

<!--{% block fbmetadata %}-->
<!--<meta property="og:image" content="http://notyourmotleycrew.com/media/images/120920_2129/800/TSOU2GA7U9SYOUN2487J.jpeg"/>-->
<!--<meta property="og:title" content="We are not your motley crew"/>-->
<!--<meta property="og:url" content="http://notyourmotleycrew.com"/>-->
<!--<meta property="og:type" content="cause"/>-->
<!--{% endblock %}-->


<!--<link href="/static/sitespecific/css/style.css" rel="stylesheet">-->


<!--<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->

<!--<script type="text/javascript">-->

<!--var _gaq = _gaq || [];-->
<!--_gaq.push(['_setAccount', 'UA-2026673-11']);-->
<!--_gaq.push(['_setDomainName', 'notyourmotleycrew.com']);-->
<!--_gaq.push(['_trackPageview']);-->

<!--(function() {-->
    <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
<!--})();-->

<!--</script>-->

</head>

<body>


{% block body_before_container %}

{% endblock %}


<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
</body>
</html>
