{% extends "base.html" %}

{% block main %}



<div class="row-fluid">   
    <div class="span6 offset1">
        <h2>Upload your picture</h2>

        <p>
        If you self identify as a person of color you're welcome to contribute to the project. What you look like to others doen't matter.

        If you identify as white and want help out please blog, tweet and talk to people about the project.

        </p>

        <p>1. Make your sign. Draw your own or pick a readymade one and print it. </p>
        <ul>

            <li> 

            <form action="/makesign/" method="post">
                {% csrf_token %}
                {{ sign_form }}
                <input type="submit" value="Print my custom sign!" />
            </form>
            </li>

            {% for sign in signs  %}
            <li> "{{sign.text}}" <a href="/sign/{{sign.id}}" target="_blank">Print this sign</a> </li>
            {% endfor %}
        </ul>
        <p>2. Hold it up to your webcam, cameraphone or what have you </p>
        <p>3. Say "Cheese" or "All power to the people" or whatever works for you. </p>
        <p>4. Put the image file somewhere on your computer.</p>
        <p>5. Select the image file.</p>
        <p>6. Write a caption.</p>
        <p>7. Upload.</p>
        <p>8. Sit back and watch the white power structure crumble!</p>

        <form action="/contribute/"  enctype="multipart/form-data"  method="post">{% csrf_token %}
            {{ form }}
            <br/>
            <input type="submit" value="Upload" />
        </form>

    </div>
</div>
{% endblock %}
