{% extends "base.html" %}

{% block main %}
<h2>Upload your picture</h2>
<p>1. Write your message on a piece of paper  (or print one of our readymade templates)</p>
<p>2. Hold it up to your webcam, cameraphone or what have you </p>
<p>3. Say "Cheese" or "Power to the people" or whatever works for you. </p>
<p>4. Mail us your photo at uploads@notyourmotleycrew.com</p>

 Hold it up to your webcam, cameraphone or what have you </p>
<p></p> , the PDF:s (or , hold it up to the camera</p>


{% endblock %}
