{% extends "base.html" %}

{% block fbmetadata %}
<meta property="og:image" content="http://notyourmotleycrew.com/media/images/120920_2129/800/TSOU2GA7U9SYOUN2487J.jpeg"/>
<meta property="og:title" content="We are not your motley crew"/>
<meta property="og:type" content="cause"/>

<meta property="og:url" content="http://notyourmotleycrew.com"/>
{% endblock %}

{% block main %}
{% for image  in images %}
<div class="row-fluid">   
    <div class="span10 offset1">
        <img class="feed" src="{{ image.get_the_image_url_600 }}"></img>
        {% include "snippets/caption.html" %}

    </div>
</div>


{% endfor %}
<div class="row-fluid">   
    <div class="span10 offset1">
        <div class="pagination">
            <span class="step-links">
                {% if images.has_previous %}
                <a href="?page={{ images.previous_page_number }}">previous</a>
                {% endif %}
                
                <span class="current">
                    Page {{ images.number }} of {{ images.paginator.num_pages }}.
                </span>

                {% if images.has_next %}
                <a href="?page={{ images.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% endblock %}
